#list{
  text-align: center;
  vertical-align: center;
 
}

a:link, a:visited {
  color: black;
  padding: 4px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}
.Plateau{
  text-align: center;
  vertical-align: center;
  font-size: large;
  letter-spacing: 2px;
}
.w{
  background-color: #2d6389 ;
}
.Z{
  background-color: #005900 ;
}



#display{
  overflow: visible;
  text-align: center;
}

#tittle{
  color:white;
}

.server{
  margin: 10px;
  border-radius: 30px;
  border:solid black;
  height: 40px;
  width: 250px;
}

#menuitem{
  width: 150px;
}

.test{
  color:white;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 13px 9px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(24, 24, 24);
  color: white;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
  height: 100%;
}
.content {
  min-height: calc(95vh - 70px);
}
.footer {
  height: 75px;
  background-color: rgb(24, 24, 24) ;
  color:white;
  padding: 7px;
}